<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="card mt-4">
                <button>Learn Now</button>
            </div>
        </div>
        <div class="col-lg-9 text-center">
            <h1 class="text-capitalize my-4">{{_Course.name}}</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{_Course.videoId}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{_Course.description}}</p>
        </div>
    </div>
</div>